In [9]:
import pandas as pd

In [10]:
train = pd.read_table('IrisTrainML.dt', header = None, sep = ' ')
test = pd.read_table('IrisTestML.dt', header = None, sep = ' ')

In [11]:
train.columns = ['feat_1', 'feat_2', 'label']
test.columns = ['feat_1', 'feat_2', 'label']

In [12]:
train.head()

   feat_1  feat_2  label
0     6.4    0.32      2
1     4.8    0.34      0
2     4.9    0.25      2
3     7.2    0.32      2
4     6.5    0.30      2

In [13]:
test.head()

   feat_1  feat_2  label
0     5.4    0.34      0
1     7.6    0.30      2
2     6.0    0.30      2
3     6.8    0.28      1
4     6.4    0.28      2